<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>
<div class="wrap">
    <div class="container">
        <form class="paste-form" th:action="@{/create_paste }" method="post">
            <div class="paste-header">New Paste</div>
            <div class="form-textarea">
            <textarea id="contentField" class="text-field" contenteditable th:field="*{content.value}"
                      aria-required="true" aria-label="New Paste">
            </textarea>
            </div>
            <div class="paste-header">Optional Paste Settings</div>
            <div class="post-form">
                <div class="post-form_left">
                    <div class="form-group category">
                        <label class="control-label">Category:
                            <select name="Category">
                                <option th:each="categoryOpt: ${T(com.example.pastebin.models.Category).values()}"
                                        th:value="${categoryOpt}" th:text="${categoryOpt.getDisplayValue()}"></option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group expiration">
                        <label class="control-label">Paste Expiration:
                            <select name="ExpirationDateEnum">
                                <option th:each="expriationDateOpt: ${T(com.example.pastebin.models.ExpirationDateEnum).values()}"
                                        th:value="${expriationDateOpt}"
                                        th:text="${expriationDateOpt.getDisplayValue()}"></option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group title">
                        <label class="control-label">Paste Name / Title:
                            <input type="text" th:field="*{post.title}">
                        </label>
                    </div>
                    <div class="form-group form-btn-container">
                        <button type="submit" class="btn">Create New Paste</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>
    <span>span</span>


</div>

<footer class="footer">


</footer>
</body>
</html>
